/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #555;
}

main {
  padding: 20px;
}

/* Landing Page Styles */
.landing {
  text-align: center;
}

.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  text-align: center;
}

.profile-picture img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* Slideshow Styles */
.slideshow {
  text-align: center;
}

.slideshow-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.slide {
  margin: 10px;
  max-width: 300px;
}

.slide img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.slide-caption {
  margin-top: 5px;
}

/* Bio Section Styles */
.bio {
  text-align: center;
  margin-top: 40px;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Soundboard stuff */
#soundboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the buttons */
  gap: 20px; /* Space between buttons */
  padding: 20px;
}

/* Container for each sound button and its label */
.sound-container {
  text-align: center;
}

/* Style for the sound buttons */
.sound-button {
  width: 200px;    /* Width of the round button */
  height: 200px;   /* Height of the round button */
  border-radius: 50%; /* Makes the button round */
  background-color: #007BFF; /* Blue color */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Button hover effect */
.sound-button:hover {
  background-color: #0056b3;
}

/* Style for the label below the button */
.sound-label {
  margin-top: 10px;
  font-size: 18px;
  color: #333; /* Label text color */
  text-transform: uppercase;
}
